APP_DOMAIN=167.86.99.131

POSTGRES_USER=sosyalmedya
POSTGRES_PASSWORD=change-this-postgres-password
POSTGRES_DB=sosyalmedya

MINIO_ROOT_USER=minioadmin
MINIO_ROOT_PASSWORD=change-this-minio-password
MINIO_BUCKET=sosyalmedya-media

JWT_SECRET_KEY=change-this-long-random-jwt-secret
CORS_ORIGINS=http://167.86.99.131

NEXT_PUBLIC_API_URL=/api/v1
NEXT_PUBLIC_APP_URL=http://167.86.99.131

CREATE_DEMO_DATA=true
